 .fur{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
}

.fur>.img1{
    width:50%;
}

.fur>.img1 img{
    
}
.fur .img2{
    display: flex;
    width: 50%;
}

.fur .img2 ul{
    
}

.fur .img2 ul li{
    
}

.fur .img2 ul li img{
    
} 






