.d-block{
    width: 1110px;
    height: 500px;
}

.carousel-item{
    position: relative;
}
.content{
    position: absolute;
    top: 186px;
    left: 165px;
    width: 300px;
    height: 300px;
}

.content .sale{

}
.content .Leather{
    font-size: 50px;
}

.content .price{
    color: orange;
}

.content a{
    text-decoration: none;
    border: 1px solid black;
    color: black;
}
.content a:hover{
    border: 1px solid orange;
    background: orange;
    color: papayawhip;
}

.carousel-control-prev{
    
}

/* .carousel-control-prev div{
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
}
.carousel-control-prev .carousel-control-prev-icon{
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50% 50%;
} 
.carousel-control-prev .carousel-control-prev-icon {
    
}
.sr-only{
    background: black;
    z-index: 1;
    width: 30px;
    height: 30px;
} */ 
